/node_modules
/vendor
/.git
/.github
/.env
/.editorconfig
/.gitattributes
/tests
/phpunit.xml
/README.md
/RUN.md
/Project_Features.md
/npm-debug.log
/yarn-error.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
